@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

body {
	background: hsl(60, 100%, 98%);
}

h1 {
	text-align: center;
	font-family: 'Do Hyeon', sans-serif;
}

form {
	height: 600px;
}

#receipt_slide {
	position: relative;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}

#receipt_container {
	height: 600px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	left: 0;
}

.receipt_li {
	margin: 0 10px 0 10px;
	height: 600px;
	float: left;
	list-style: none;
	position: absolute;
	font-family: 'Do Hyeon', sans-serif;
	overflow-y: scroll;
	-ms-overflow-style: none;
}

.receipt_li::-webkit-scrollbar {
	display: none;
}

.receipt {
	width: 100%;
	height: 100%;
}

.arrows {
	width: 50px;
	height: 50px;
	position: absolute;
	z-index: 99;
	top: 325px;
}

.arrows img {
	width: 100%;
	height: 100%;
}

#arrowLeft {
	left: 30px;
}

#arrowRight {
	right: 30px;
}

.buyTotal {
	width: 140px;
	height: 55px;
	text-align: center;
	margin: 0 auto;
	font-size: 17px;
}

.buyTotal button {
	border-radius: 10px;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 25px;
}

.show-more {
	text-align: center;
}

.extended-price {
	margin: auto;
	padding: 10px;
	width: 500px;
}

#back {
	margin: 0 auto;
	padding: 10px;
	width: 500px;
	font-size: 18px;
	text-align: right;
}

a {
	font-weight: bold;
}

a:link {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	color: rgb(255, 145, 0);
	text-decoration: underline;
}